<!DOCTYPE html>
<html lang="ja" id="html">
<head>
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1">
  <style>
    html {
      height: 100%;
    }
    body {
      height: 100%;
      background-color: #000;
      color: #fff;
      position: relative;
      padding: 0;
      margin: 0;
      font-family: sans-serif, "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
    }
    .message {
      position: absolute;
      top: 0;
      bottom: 0;
      height: 161px;
      margin: auto;
      width: 90%;
      left: 0;
      right: 0;
      font-size: 24px;
      line-height: 2;
    }
  </style>
  <script src="../assets/scripts/controllerBeforeLive.js"></script>
  <title>ライブ中、本人からの指示があったときにこのページを開いてね♪</title>
</head>
<body>
  <div class="message">
    ライブ中、本人からの指示があったときにこのページを開いてね♪<br><br>
    <button onclick="location.reload()" style="background: #fff;width: 100%;height: 50px;">リロードする</button>
  </div>
</body>
</html>