<!DOCTYPE html>
<html lang="ja" id="html">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1">
  <link rel="stylesheet" href="./assets/styles/controller.css">
  <script src="./assets/scripts/controller.js"></script>
  <title>HORSE 馬道まさたか INTERACTIVE LIVE</title>
  <style>
    .noise {
      /*display: none;*/
      background: url('./assets/images/noise.gif');
      background-repeat: repeat;
      position: fixed;
      width: 100%;
      height: 100%;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 1000;
    }
  </style>
</head>
<body class="controllerBody">
  <div id="controller" class="controller">
    <div class="lockCurtain" :class="{ show: !isControll }">
      <p class="lockCurtain__text">今は操作できません</p>
    </div>
    
    <div class="lockCurtain" :class="{ show: isWaiting }">
      <div class="chargingWrapper">
        <div class="chargingBg chargingBg--horse"></div>
        <div class="charging charging--horse" :class="{'charging--charging': isCharging}" :style="{transition: 'height '+ times.starChargeSec +'s linear'}"></div>
      </div>
      <p class="lockCurtain__text">馬を送っています</p>
      <%# <p class="lockCurtain__text">星を送っています</p>%>
    </div>
    
    <div class="landscapeError">
      <p class="txt">このコンテンツは、<br>端末を縦向きにしてお楽しみください。</p>
    </div>
    
    <header class="header header--horse">
      <img src="./assets/images/title_logo.png" class="header__title" alt="Masataka Umamichi Interactive Live">
    </header>
    
    <div class="skinBg"></div>
    
    <main class="main">
      <div class="shootingButton__wrapper">
        <div class="shootingObject shootingObject--horse" 
        :class="{ shooting: isShooting, show: isShowStar }"></div>
        
        <div class="buttonWrapper">
          <%# ボタンを3つ表示、チュートリアル時は1つ %>
          <div v-for="(button, index) in isAble" class="shootingButton" @touchstart="shooting(index)" v-show="!isShooting" :class="{ disable: !isAble[index] }">
            <img class="shootingButton__able" src="assets/images/shootingButton--horse.svg" alt="send button">
            <img class="shootingButton__disable" src="assets/images/shootingButtonDisable--horse.svg" alt="disable button">
          </div>
        </div>
      </div>
      
      <%# <p class="colorSelectText">色を選んでね</p>%>
      <ul class="colorList">
        <li v-for="color in colors" @touchstart="selectColor(color)" 
        class="colorList__button" :class="{ selected: color.isSelected }" 
        :style="{ backgroundColor: color.color }">{{color.color}}</li>
      </ul>
    </main>

    <%# noise%>
    <div class="noise" v-if="isShowNoise"></div>
  </div>
</body>
</html>