<!DOCTYPE html>
<html lang="ja" id="html">
<head>
  <title>【Stage】beforeLive</title>
  <script src="../assets/scripts/stageBeforeLive.js"></script>
  <style>
  html {
    cursor: none;
  }
  body {
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: center;
    font-size: 50px;
    height: 100vh;
    align-items: center;
  }
  </style>
</head>
<body>
  ヒヅメノオト vol.2
</body>
</html>