<!DOCTYPE html>
<html lang="ja" id="html">
<head>
  <meta charset="utf-8">
  <title>【Stage】horse馬道まさたか INTERACTIVE LIVE</title>
  <link rel="stylesheet" href="../assets/styles/stage.css">
  <script src="../assets/scripts/meteor/stage.js"></script>
</head>
<body>
  <div class="wrapper">
    horse
    <canvas id="mainCanvas" width="1920" height="1080" style="background: #000;"></canvas>
    </div>
  </div>
</body>
</html>