<!DOCTYPE html>
<html lang="ja" id="html">
<head>
  <meta charset="utf-8">
  <title>【Stage】馬道まさたか INTERACTIVE LIVE</title>
  <link rel="stylesheet" href="../assets/styles/stage.css">
  <script src="../assets/scripts/meteor/stage.js"></script>
</head>
<body>
  <div class="wrapper">    
    <canvas id="mainCanvas" width="1920" height="1080" style="background: #000;"></canvas>
    <img src="../assets/images/cloud.png" id="cloud" class="frontObject">
    <img src="../assets/images/mountain.png" class="frontObject">
    
    <%# 福田が作った雲%>
    <img src="../assets/images/cloud3.png" style="zoom: 0.5;position: absolute;bottom: 140px; left: 0">
    <img src="../assets/images/cloud3.png" style="zoom: 0.3;position: absolute;bottom: 330px; left: 80%">
    
    <div class="constellations">
      <div class="constellations__inner">
        
        <%# ペガサス%>
        <div class="constellation constellation--pegasus" id="constellation--pegasus">
          <img class="constellation__star"src="../assets/images/pegasus-star.png">
          <img class="constellation__line" src="../assets/images/pegasus-line.png">
          <img class="constellation__illust" src="../assets/images/pegasus-illust.png">
        </div>
        
        <%# ギター%>
        <div class="constellation constellation--guitar" id="constellation--guitar">
          <img class="constellation__star"src="../assets/images/guitar-star.png">
          <img class="constellation__line" src="../assets/images/guitar-line.png">
          <img class="constellation__illust" src="../assets/images/guitar-illust.png">
        </div>
        
        
        <%# Thank you%>
        <div class="constellation constellation--lastMessage" id="constellation--lastMessage">
          <img src="../assets/images/last-message.svg" style="width: 700px;">
        </div>
        
        
        
      </div>
    </div>
  </div>
</body>
</html>