<!DOCTYPE html>
<html lang="ja" id="html">
<head>
  <meta charset="utf-8">
  <title>【Stage】馬道まさたか INTERACTIVE LIVE</title>
  <link rel="stylesheet" href="../assets/styles/stage.css">
  <script src="../assets/scripts/meteor/stage.js"></script>
</head>
<body>
  sunrain
</body>
</html>