.controller {
  height: 100%;
}

.header {
  width: 100%;
  text-align: center;
  height: 50%;
  background-image: url('../../assets/images/bg_sky.jpg');
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: auto 100%;
  position: relative;
  &__title {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 70%;
    margin: auto;
  }
  &--horse {
    background-image: url('../../assets/images/bg_horse.jpg');
  }
}

.controllerBody {
  background-color: #000;
}

.lockCurtain {
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  text-align: center;
  z-index: 10;
  display: none;
  &.show {
    display: block;
  }
  
  .chargingStarWrapper {
    position: relative;
    margin-top: 70px;
    height: 235px;
  }
  .chargingStarBg{
    width: 240px;
    height: 100%;
    background-image: url('../images/star-mask-bg.svg');
    background-repeat: no-repeat;
    background-position: bottom center;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
  }
  .chargingStar {
    width: 240px;
    height: 0%;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 0;
    position: absolute;
    background-color: #FFEF00;
    mask-image: url('../images/star-mask.svg');
    -webkit-mask-position: bottom center;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: 100%;
    &.charging {
      height: 100%;
    }
  }
  
  &__text{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 90%;
    height: 50px;
    margin: auto;
    color: #fff;
    font-size: 25px;
    transform: translate3d(0, 140px, 0);
  }
}

.landscapeError{
  display: none;
}
@media screen and (orientation: landscape){
  .landscapeError {
    display: block;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: #FFF;
    .txt {
      position: absolute;
      font-size: 20px;
      top: 50%;
      left: 20px;
      right: 20px;
      text-align: center;
      transform: translateY(-50%);
      color: #555;
      line-height: 1.6;
    }
  }
}

.main {
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding-bottom: 20px;
}

.shootingObject {
  position: absolute;
  // transition: opacity 0.5s;
  width: 100px;
  height: 100px;
  left: 0;
  right: 0;
  top: 0;
  margin: auto;
  border-radius: 50px;
  opacity: 0;
  background-image: url('../images/star.png');
  background-size: 100%;
  
  &.shooting {
    transform: translateY(-500px);
    opacity: 0;
    transition: transform 0.3s cubic-bezier(0, 0.68, 1,-0.07);
  }
  &.show {
    opacity: 1;
  }
}

.shootingButton {
  &__wrapper {
    position: relative;
    height: 110px;
    text-align: center;
  }
}
.buttonWrapper {
  position: absolute;
  width: 100%;
  top: 0;
  z-index: 1;
}

.shootingButton {
  width: 30%;
  display: inline-block;
  margin-right: 2%;
  &:last-child {
    margin-right: 0;
  }
  
  &.disable {
    .shootingButton__able {
      display: none;
    }
    .shootingButton__disable {
      display: block;
    }
  }
  
  &__able {
    display: block; 
  }
  &__disable {
    display: none;
  }
}

.colorList {
  font-size: 0;
  text-align: center;
  margin-top: 10px;
  &__button {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-bottom: 20px;
    vertical-align: middle;
    margin-right: 5%;
    border: solid 3px #000;
    border-radius: 60px;
    cursor: pointer;
    opacity: 0.2;
    
    &.selected {
      box-shadow: 0 0 0 2px #fff;
      opacity: 1;
    }
    
    &:last-child {
      margin-right: 0;  
    }
  }
}

.colorSelectText {
  color: #fff;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  position: relative;
  &::before {
    position: absolute;
    content: '';
    width: 50px;
    height: 2px;
    background-color: #fff;
    left: 40px;
    top: 15px;
  }
  &::after {
    position: absolute;
    content: '';
    width: 50px;
    height: 2px;
    background-color: #fff;
    right: 40px;
    top: 15px;
  }
}

.abc {
  display: inline-block;
  &__aa {
    font-size: 100px;
  }
}